@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

h1 {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  top: 50%;
  left: 52%;
}

.between {
  top: 2rem;
  right: 2rem;
  position: absolute;
}

.again {
  top: 2rem;
  left: 2rem;
  position: absolute;
}

.mysteriousNumber {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 6rem;
  transform: translate(-50%, 50%);
  background-color: #eee;
  color: #222;
  padding: 3rem 3rem;
  text-align: center;
  width: 15rem;
}

main {
  display: flex;
  height: 65vh;
  justify-content: space-around;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52rem;
}

.check {
  margin-top: 2rem;
}

input {
  width: 25rem;
  height: 10rem;
  background: none;
  border: 4px solid #eee;
  color: #eee;
  font-family: inherit;
  text-align: center;
  font-size: 5rem;
  padding: 2.5rem;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

.message {
  margin-bottom: 8rem;
  font-size: 2.6rem;
}

.score {
  margin-bottom: 2rem;
}

.btn {
  border: none;
  color: #222;
  font-family: inherit;
  padding: 2rem 3rem;
  background-color: #eee;
  cursor: pointer;
  font-size: 2rem;
}

.btn:hover {
  background-color: #ccc;
}
